* {

}

h1 {

}
body{
background-color: Lavender;

}

button {
  border: none;
  color: white;
  background-color: SlateGrey;
  padding:1em 2em 1em 2em;
}

.padding-hover:hover {
    background-color: SlateGrey;
    color:white;
    text-decoration: underline;
}

/---Media Queries---/
@media screen and (max-width: 1000px) {
    body {
        background-color: PeachPuff;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: LightGrey;
    }
}


h1 {font-family: Helvetica;
  color: white;
  font-size:52px;
  position: relative;
  text-align: center;
  background-color: Lavender;

}
.container {
    background-image: url("https://maggiescott27.github.io/gra-321/code-exercises/img/IMG_9782.JPEG");
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    margin:0 auto;
    width:50%;
  }

  .layout {
      background-image: url("https://maggiescott27.github.io/gra-321/code-exercises/img/crateandbarrellayout.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 700px;
      margin:0 auto;
      width:50%;
    }

    h2 {font-family: Helvetica;
        color:White;
        font-size:52px;
        position: relative;
        text-align: center;
    }
