* {

}
body{
  background-color: Lavender;
}
h1 {font-family:Helvetica;
  color: Black;
  font-size:52px
  position: relative;
  text-align: left;
  background color: Lavender;

}  h2 {font-family:Helvetica;
    color: Black;
    font-size:35px
    position: relative;
    text-align: left;
    background color: Lavender;
    
